<!-- CON EL EXTENDS TRAIGO EL FORMATO DEL HMTL QUE INDICO -->
{% extends "layout.html" %}

{% block content %}

<h2 style="text-align: left;">Patagonykus</h2>
<hr></hr>
<div class="fichaInfo">
    <div class="imagen">
        <img src="static/img/Patagonykus.png">
    </div>

    <div class="info">
        <h2>Información</h2>
        <p>
            Solo se hallo un único ejemplar, él cual no presentaba la cabeza cuando fue 
            descubierto, por lo que le hicieron una basándose en el cráneo de sus familiares. 
            Las patas delanteras largas pero livianas, también estaban, en su mayoría, 
            cubiertas de plumas que se apoyaban en tres dedos con garras por cada pie. 
            Sus patas, sumadas a su liviano cuerpo, le permitían correr bastante rápido a 
            sus presas o de sus predadores. 
            Al consistir su dieta en animales diminutos, Patagonykus solo le bastaba remover 
            la tierra con los pies y buscar, o arrancando la corteza de las plantas. 
            Su posible hábitat eran grandes llanuras compuestas de ríos.
        </p>
    </div>
    <div class="caract">
        <table border="2" role="row">
                <tr>
                    <td colspan="2"><h2>Características</h2></td>
                </tr>
                <tr><td>Largo:</td><td>2 metros</td></tr>
                <tr><td>Peso:</td><td>40 kg</td></tr>
                <tr><td>Alimentación:</td><td>Insectívoro</td></tr> 
                <tr><td>Período:</td><td>Cretácico tardío</td></tr>    
                <tr><td>Tipo:</td><td>Terópodo</td></tr>      
                <tr><td>Descubrimiento:</td><td>Sierra del Portezuelo, Neuquén (1996)</td></tr>    
        </table>  
    </div>

</div>
{% endblock %}