<!-- CON EL EXTENDS TRAIGO EL FORMATO DEL HMTL QUE INDICO -->
{% extends "layout.html" %}

{% block content %}
    <div class="dinosaurios">
        <div class="imagenes">
            <img src="static/img/y_anyelo.jpg">
        </div>
        <div class="pie">
            <p>Añelo</p>
        </div>
    </div>

    <div class="dinosaurios">
        <div class="imagenes">
            <img src="static/img/y_ElCampillo.jpg">
        </div>
        <div class="pie">
            <p>El Campillo</p>
        </div>
    </div>

    <div class="dinosaurios">
        <div class="imagenes">
            <a href= "{{ url_for('InfoChocon') }}">
                <img src="static/img/y_ElChocon.jpg">
            </a>>
        </div>
        <div class="pie">
            <p>El Chocón</p>
        </div>
    </div>

    <div class="dinosaurios">
        <div class="imagenes">
            <img src="static/img/y_zapala.jpg"> 
        </div>
        <div class="pie">
            <p>Zapala</p>
        </div>
    </div>

{% endblock %}