<!-- CON EL EXTENDS TRAIGO EL FORMATO DEL HMTL QUE INDICO -->
{% extends "layout.html" %}

{% block content %}
    <div class="dinosaurios">
        <div class="imagenes">
            <a href= "{{ url_for('InfoAmarga') }}">
                <img src="static/img/Amargasaurus.png">
            </a>
        </div>
        <div class="pie">
            <p>Amargasaurus</p>
        </div>
    </div>

    <div class="dinosaurios">
        <div class="imagenes">
            <a href= "{{ url_for('InfoArgen') }}">
                <img src="static/img/Argentinosaurus.png">
            </a>
        </div>
        <div class="pie">
            <p>Argentinosaurio</p>
        </div>
    </div>

    <div class="dinosaurios">
        <div class="imagenes">
            <a href= "{{ url_for('InfoBuitre') }}">
                <img src="static/img/Buitreraptor.png">
            </a>
        </div>
        <div class="pie">
            <p>Buitreraptor</p>
        </div>
    </div>

    <div class="dinosaurios">
        <div class="imagenes">
            <a href= "{{ url_for('InfoCarno') }}">
                <img src="static/img/Carnotaurus.png">
            </a>
        </div>
        <div class="pie">
            <p>Carnotaurus</p>
        </div>
    </div>

    <div class="dinosaurios">
        <div class="imagenes">
            <a href= "{{ url_for('InfoDrusi') }}">
                <img src="static/img/Drusilasaura.png">
            </a>
        </div>
        <div class="pie">
            <p>Drusilasaura</p>
        </div>
    </div>

    <div class="dinosaurios">
        <div class="imagenes">
            <a href= "{{ url_for('InfoEora') }}">
                <img src="static/img/Eoraptor.png">
            </a>
        </div>
        <div class="pie">
            <p>Eoraptor</p>
        </div>
    </div>

    <div class="dinosaurios">
        <div class="imagenes">
            <a href= "{{ url_for('InfoFutal') }}">
                <img src="static/img/Futalgnkosaurus.png">
            </a>
        </div>
        <div class="pie">
            <p>Futalgnkosaurus</p>
        </div>
    </div>

    <div class="dinosaurios">
        <div class="imagenes">
            <a href= "{{ url_for('InfoGigano') }}">
                <img src="static/img/Giganotosaurus.png">
            </a>>
        </div>
        <div class="pie">
            <p>Giganotosaurus</p>
        </div>
    </div>

    <div class="dinosaurios">
        <div class="imagenes">
            <a href= "{{ url_for('InfoHuincul') }}">
                <img src="static/img/Huinculsarus.png">
            </a>
        </div>
        <div class="pie">
            <p>Huinculsarus</p>
        </div>
    </div>

  <!-- ACOMODAR LOS HIPERVÍNCULOS A LAS PÁGINAS DE FICHA DE INFO -->  
    <div class="dinosaurios">
        <div class="imagenes">
            <a href= "{{ url_for('InfoIsable') }}">
                <img src="static/img/Isablerrysaura.png">
            </a>
        </div>
        <div class="pie">
            <p>Isablerrysaura</p>
        </div>
    </div>

    <div class="dinosaurios">
        <div class="imagenes">
            <a href= "{{ url_for('InfoJaka') }}">
                <img src="static/img/Jakapil.png">
            </a>
        </div>
        <div class="pie">
            <p>Jakapil</p>
        </div>
    </div>

    <div class="dinosaurios">
        <div class="imagenes">
            <a href= "{{ url_for('InfoKetep') }}">
                <img src="static/img/Katepensaurus.jpg">
            </a>
        </div>
        <div class="pie">
            <p>Katepensaurus</p>
        </div>
    </div>

    <div class="dinosaurios">
        <div class="imagenes">
            <a href= "{{ url_for('InfoLampa') }}">
                <img src="static/img/Lampasaurus.png">
            </a>
        </div>
        <div class="pie">
            <p>Lampasaurus</p>
        </div>
    </div>

    <div class="dinosaurios">
        <div class="imagenes">
            <a href= "{{ url_for('InfoMegar') }}">
                <img src="static/img/Megaraptor.jpg">
            </a>
        </div>
        <div class="pie">
            <p>Megaraptor</p>
        </div>
    </div>

    <div class="dinosaurios">
        <div class="imagenes">
            <a href= "{{ url_for('InfoNoasa') }}">
                <img src="static/img/Noasaurus.jpg">
            </a>
        </div>
        <div class="pie">
            <p>Noasaurus</p>
        </div>
    </div>

    <div class="dinosaurios">
        <div class="imagenes">
            <a href= "{{ url_for('InfoOrkor') }}">
                <img src="static/img/Orkoraptor.png">
            </a>
        </div>
        <div class="pie">
            <p>Orkoraptor</p>
        </div>
    </div>

    <div class="dinosaurios">
        <div class="imagenes">
            <a href= "{{ url_for('InfoPatag') }}">
                <img src="static/img/Patagonykus.png">
            </a>
        </div>
        <div class="pie">
            <p>Patagonykus</p>
        </div>
    </div>

    <div class="dinosaurios">
        <div class="imagenes">
            <a href= "{{ url_for('InfoUnen') }}">
                <img src="static/img/Unenlagia.jpg">
            </a>
        </div>
        <div class="pie">
            <p>Unenlagia</p>
        </div>
    </div>

    <div class="dinosaurios">
        <div class="imagenes">
            <a href= "{{ url_for('InfoZupay') }}">
                <img src="static/img/Zupaysaurus.jpg">
            </a>
        </div>
        <div class="pie">
            <p>Zupaysaurus</p>
        </div>
    </div>


{% endblock %}