<!-- CON EL EXTENDS TRAIGO EL FORMATO DEL HMTL QUE INDICO -->
{% extends "layout.html" %}

{% block content %}

<h2 style="text-align: left;">Museo Paleontológico Egidio Feruglio (MEF)- Chubut</h2>
<hr></hr>
<div class="fichaInfo">
    <div class="imagen">
        <img src="static/img/y_Edigio_Feruglio.jpg">
    </div>

    <div class="info">
        <h2>Información</h2>
        <p>A pesar de su corta edad como institución, el Mef ha ganado relevancia internacional gracias a sus 
            descubrimientos científicos:

            El dinosaurio más grande del mundo, Patagotitan mayorum. Un saurópodo de la familia de los 
            Titanosaurios, de 38 metros de largo y casi 8 metros de alto. Uno de los esqueletos más completos 
            conocidos.
            
            Un nuevo y amplio registro de mamíferos, que rompe los paradigmas sobre el origen de las especies 
            modernas.
            
            Más de 15 nuevos dinosaurios diferentes, el único museo en Latinoamérica que presenta este nivel 
            de diversidad, incluido el gigante carnívoro Tyrannotitan chubutensis.
            
            Más de 200 nuevas especies de plantas, junto con uno de los registros más detallados de polen y 
            semillas en América del Sur.
            
            El fósil de la fruta de tomate más antiguo del mundo hasta el momento.
            
            Un extraño espécimen llamado Manidens, uno de los dinosaurios más pequeños del mundo.
            
            </br>
            Contacto: info@mef.org.ar
        </p>
    </div>
    <div class="mapa">
        <h2>Ubicación</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2906.094011105962!2d-65.30894598451536!3d-43.24945147913705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xbe0144b6c0db8289%3A0xfed232b6bb60a002!2sMuseo%20Paleontol%C3%B3gico%20Egidio%20Feruglio!5e0!3m2!1ses!2sar!4v1671060985895!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</div>
{% endblock %}