<!-- CON EL EXTENDS TRAIGO EL FORMATO DEL HMTL QUE INDICO -->
{% extends "layout.html" %}

{% block content %}

<h2 style="text-align: left;">Bosque Petrificado de Valcheta</h2>
<hr></hr>
<div class="fichaInfo">
    <div class="imagen">
        <img src="static/img/y_valcheta.jpg">
    </div>

    <div class="info">
        <h2>Información</h2>
        <p>
            El ingreso está ubicado a 1300 mts. del casco urbano de Valcheta.
            En la visita se pueden observar los diferentes troncos del Terciario Superior de hasta 30m de largo, 
            diseminados por la estepa. Este bosque estuvo en pie cuando la Patagonia era joven, hace más de 
            65 millones de años y, como consecuencia de un clima subtropical, surcado por grandes lagos y lagunas 
            que daban vida a las Coníferas y Cicadáceas que hoy vemos petrificadas y que servían de alimento a los 
            grandes dinosaurios que habitaban en la zona. 
            </br>
            Contacto: (2920)-629976
        </p>
    </div>
    <div class="mapa">
        <h2>Ubicación</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14532.100373369845!2d-66.16809830325731!3d-40.679950047536686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95fc614eacd6a39b%3A0x4f4b8c033e3100b0!2sANP%20Bosque%20Petrificado%20Valcheta!5e0!3m2!1ses!2sar!4v1671060883711!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</div>
{% endblock %}