<!-- CON EL EXTENDS TRAIGO EL FORMATO DEL HMTL QUE INDICO -->
{% extends "layout.html" %}

{% block content %}

<h2 style="text-align: left;">El Chocón</h2>
<hr></hr>
<div class="fichaInfo">
    <div class="imagen">
        <img src="static/img/y_ElChocon.jpg">
    </div>

    <div class="info">
        <h2>Información</h2>
        <p>El Chocón es una localidad de Neuquén ubicada a 83km de la capital provincial.
            </br>
            En la antigüedad formado por lagunas que en sus orillas daban vida a numerosa fauna
            de dinosaurios, cocodrilos y tortugas, beneficiándose de un clima húmedo y cálido, muy
            diferente al actual en la región.
            </br>
            Aquí se encuentra el Museo Nacional Ernesto Bachmann, donde se exhibe, entre otroso, una réplica
            y el original de los fósiles del Giganotosaurus, del cual se ha conservado
            aproximadamente el 70% de su esqueleto, transformándolo en uno de los carnívoros más completos.
            </br>
            Contacto: museoernestobachmann@gmail.com
        </p>
    </div>
    <div class="mapa">
        <h2>Ubicación</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3467.520463953107!2d-68.78640124753491!3d-39.26081160884185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960bfdb451531a19%3A0xa7827322e2e91dbd!2sMuseo%20Paleontol%C3%B3gico%20Municipal%20Ernesto%20Bachmann(NEUQUEN)!5e0!3m2!1ses-419!2sar!4v1670898495384!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</div>
{% endblock %}